/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    /* border: 2px solid lightgrey; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    min-width: 428px;
    width: 100%;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
    color: rgb(225, 239, 230);
}

h1 {
    font-size: 7.5rem;
}

h2 {
    font-size: 5rem;
}

h3 {
    font-size: 4rem;
}

p, a {
    font-size: 3rem;
}

body{
    background-color: rgb(0, 4, 17);
}

/* header section */
header {
    display:flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url('../img/home-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align:center;
}
header div {
    width: 100%;
    height: 10vh;
    position: relative;
    background-color: rgb(0, 4, 17, .7);
}

header div h1 a {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 10vh;
    flex-wrap: wrap;
    text-decoration: none;
    font-size: 6rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

.top.btns{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    text-decoration: none;
}
.top.btns a{
    font-size: 2.5rem;
}

nav div{
    display: flex;
    justify-content: center;

}
.social{
    display:flex;
    justify-content: space-between;
    align-items: center;
    width: 15%;
}


/* spacers */
.spacer {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
}

/* gallery section */
.gallery {
    width: 100%;
    height: 100vh;
    text-align: center;
    background-color: rgb(0, 4, 17);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.gallery .foodTitle{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.gallery .allPhotos{
    width: 80%;
}

.gallery .img{
    width:30%;
}

.gallery .img img{
    width:100%;
}

.gallery div{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1%;
}

/* about us section */
.about {
    width: 100%;
    height: 80vh;
    text-align: center;
    background-image: url("../img/staff-cooks.jpg");
    background-size:contain;
    background-position: top;
    background-repeat: no-repeat;
}

.about-container {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    background-color: rgb(0, 4, 17, .8);
}

.about h2 {
    width: 100%;
    padding-top: 3%;
    padding-bottom: 6%;
    font-size: 4rem;
}

.about-container .text{
    width: 50%;
    height: 60vh;
}

.text h3{
    font-size: 3rem;
}

.text p{
    font-size: 1.8rem;
}

/* contact us section */
.contact {
    text-align: center;
    background-image: url("../img/jumbo-restaurant.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(0, 4, 17);
}

.contact-container {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 4, 17, .8);
}

.contact .contact-container h2 {
    padding-top: 5vh;
    font-size: 3.5rem;
}

.contact .contact-container h3 {
    padding-top: 2.5vh;
    font-size:3rem;
}

.contact .contact-container p, .contact .contact-container .contacts a{
    padding: 0 0;
    font-size: 1.8rem;
}

.info {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.address {
    width: 25%;
}

.hours {
    width: 25%;
    padding-bottom: 2.5vh;
}

.contacts {
    width: 25%;
}

.contact p, .contact a{
    font-size: 2rem;
}

/* footer section */
footer {
    width: 100%;
    height: 15vh;
    padding-top: 2.5vh;
    font-size: 3rem;
    background-color: rgb(0, 4, 17);
    color: rgb(225, 239, 230);
}

footer nav{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

footer .mailing-list{
    width: 35%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 3%;
} 

footer .mailing-list h4{
    font-size:2.4rem;
    width:100%;
    display: flex;
    justify-content: center;
}

.mailing-list input{
    width:70%;
    font-size: 1.8rem;
}

.mailing-list button{
    width:30%;
    font-size: 1.8rem;
}

footer nav .btm.btns{
    width: 60%;
    display: flex;
    justify-content: space-around;
}

footer nav .btm.btns a{
    font-size: 1.6rem;
}

.copyright{
    background-color: rgb(0, 4, 17);
    color: rgb(225, 239, 230);
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 0 8%;
}

.copyright p{
    font-size: 1.2rem;
}

/* mobile media query */
@media (max-width: 428px) {
    /* header section */
    header {
            height: 105vh;
        }
    
        header div {
            height: 50vh;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: flex-start;
        }
    
        header div h1 {
            width: 80%;
            padding-top: 2%;
        }
    
        header div h1 a {
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-wrap: wrap;
            font-size: 3.5rem;
        }
    
        nav {
            width: 80%;
            display: flex;
            justify-content: center;
            padding: 10% 0;
        }
    
        .top.btns {
            height: 20vh;
        }
    
        .top.btns a {
            height: 5vh;
            width: 100%;
            display: flex;
            justify-content: center;
            font-size: 2.2rem;
        }
    
        nav div {
            width: 50%;
            height: 8vh;
        }
    
        .social {
            justify-content: space-evenly;
            width: 80%;
        }
    
        .social a i {
            font-size: 2rem;
        }
    
        /* Spacer */
        .spacer {
            height: 17vh;
        }

    /* gallery section */
    .gallery {
        height: auto;
        margin-top:4%;
        background-color: rgb(0, 4, 17);
    }
    .gallery .foodTitle{
        padding: 5%;
        background-color: rgb(0, 4, 17);
    }
    .gallery .img{
        margin:4%;
    }
    
    /* about us section */

    .about {
        height: auto;
    }

    .about .about-container h2 {
        width: 100%;
        padding: 15vh 0;
        justify-content: flex-start;
    }
    
    .about .about-container .text{
        width: 95%;
    }

    .text h3{
        font-size:4.3rem;
        padding-top:5vh;
    }
    .text p{
        font-size:2.5rem;
    }
    
    /* contact us section */
    .contact h3 {
        padding-top: 2.5vh;
        font-size: 4.5rem;
    }

    .contact p, .contacts a{
        font-size:2.5rem;
        padding: .4vh 0;
    }

    .info {
        flex-wrap: wrap;
    }
    
    .address {
        width: 100%;
        padding-bottom: 2.5vh;
    }
    
    .hours {
        width: 100%;
    }
    
    .contacts {
        width: 100%;
        padding-bottom: 2.5vh;
    }

    /* footer section */
           footer {
               display: flex;
               justify-content: center;
               flex-wrap: wrap;
               height: 50vh;
               font-size: 2rem;
               text-align: center;
           }
    
           footer nav {
               display: flex;
               justify-content: center;
               flex-wrap: wrap;
               align-items: center;
               width: 95%;
           }
    
           footer nav .mailing-list {
               width: 100%;
               height: 13vh;
           }
    
           footer nav .mailing-list h4 {
               font-size: 2rem;
               padding: 2.5%;
           }
    
           footer nav .mailing-list input {
               width: 100%;
               font-size: 1.6rem;
           }
    
           footer nav .mailing-list button {
               width: 100%;
               font-size: 1.6rem;
           }
    
           footer nav .btm.btns {
               width: 100%;
               height: 20vh;
               flex-wrap: wrap;
           }
    
           footer nav .btm.btns a {
               height: 5vh;
               width: 100%;
               display: flex;
               justify-content: center;
               font-size: 2.2rem;
           }
    
           .copyright {
               width: 75%;
               height: 8vh;
           }
    
           .copyright p {
               font-size: 1.35rem;
               display: flex;
               justify-content: center;
               align-items: center;
           }
}