/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
    /* border: 2px solid lightgrey; */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    box-sizing: border-box;
}

html {
    max-width: 1920px;
    min-width: 428px;
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.5;
}

h1, h2, h3, h4, h5, h6, p, a, i {
    text-decoration: none;
    color: rgb(225, 239, 230);
}

h1 {
    font-size: 7.5rem;
}

h2 {
    font-size: 6rem;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4rem;
}

p, a {
    font-size: 3rem;
}

/* header section */
header {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-image: url('../img/menu-header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

header div {
    width: 100%;
    position: relative;
    background-color: rgb(0, 4, 17, .5);
}

header div h1 a {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    text-decoration: none;
    font-size: 6rem;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

.top.btns {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    text-decoration: none;
}

.top.btns a {
    font-size: 2.5rem;
}

nav div {
    display: flex;
    justify-content: center;

}

.social {
    display: flex;
    justify-content: space-between;
    width: 15%
}

/* spacer */
.spacer {
    width: 100%;
    height: 20vh;
    background-color: rgb(0, 4, 17);
}
.spacer-sm {
    width: 100%;
    height: 10vh;
    background-color: rgb(0, 4, 17);
}

/* menu */

.menu {
    width: 100%;
    height: auto;
    background-image: url('../img/staff-bartender.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.menu .menu-container{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1%;
    background-color: rgb(0, 4, 17);
    opacity: 0.8;
}

.menu .menu-container h2{
    width:100%;
    display: flex;
    justify-content: center;
    font-size:4rem;
}

.menu .menu-container .menu-section{
    width: 50%;
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    padding: 10%;
}

.menu-section h3{
    display:flex;
    width:100%;
    justify-content: flex-start;
    flex-wrap:wrap;
    font-size:2.5rem;
    padding: 2% 0;
}

.menu-item{
    width:100%;
    display: flex;
    flex-wrap:wrap;
    padding:2% 0;
    text-align: center;
}

.menu-item h4{
    width:50%;
    display:flex;
    align-items: space-evenly;
    font-size: 2rem;
}

.menu-item .price{
    display: flex;
    justify-content: flex-end;
}

.menu-item p{
    width: 100%;
    font-size: 1.5rem;
}

.menu-item .italic{
    font-style: italic;
}



/* footer section */
footer {
    width: 100%;
    height: 15vh;
    padding-top: 2.5vh;
    font-size: 3rem;
    background-color: rgb(0, 4, 17);
    color: rgb(225, 239, 230);
}

footer nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

footer .mailing-list {
    width: 35%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 2%;
}

footer .mailing-list h4 {
    font-size: 2.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

.mailing-list input {
    width: 80%;
}

.mailing-list button {
    width: 20%;
}

footer nav .btm.btns {
    width: 65%;
    display: flex;
    justify-content: space-around;
}

footer nav .btm.btns a {
    font-size: 2rem;
}

.copyright {
    background-color: rgb(0, 4, 17);
    color: rgb(225, 239, 230);
    font-size: 1.6rem;
    display: flex;
    justify-content: flex-end;
}

.copyright p{
    font-size: 1.6rem;
}

/* mobile media query */
@media (max-width: 428px) {
    /* header section */
header div {
        height: 50vh;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    header div h1 {
        width: 75%;
    }

    header div h1 a {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-wrap: wrap;
        font-size: 3rem;
        padding: 1% 0;
    }

    nav {
        width: 80%;
        display: flex;
        justify-content: center;
    }

    .top.btns {
        height: 20vh;
    }

    .top.btns a {
        height: 5vh;
        width: 100%;
        display: flex;
        justify-content: center;
        font-size: 2rem;
    }

    nav div {
        width: 50%;
        height: 8vh;
    }

    .social {
        justify-content: space-evenly;
        width: 100%;
    }

    .social a i {
        font-size: 2rem
    }

    /* menu */
    .menu {
        background-image: none;
        background-color: rgb(225, 239, 230);
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    .menu .menu-container{
        background-color: rgb(225, 239, 230);
        width:85%;
    }

    .menu-container h2{
        border-bottom: 1.6rem solid black;
        padding-top: 20%;
    }

    .menu-container h2, .menu-section h3, .menu-item h4, .menu-item p{
        color: rgb(0, 4, 17);
        justify-content: center;
    }

    .menu .menu-container h2{
        font-size:4.5rem;
    }

    .menu-section h3{
        font-size: 4rem;
        border: .5rem solid black;
    }

    .menu-item{
        border-top: .5rem solid black;
    }

    .menu-item.one{
        border: none;
    }

    .menu-item h4{
        font-size: 3rem;
    }

    .menu-item p{
        font-size:2.4rem;
        display:flex;
        justify-content: center;
    }

    .menu .menu-container .menu-section, .menu .menu-container .menu-section .menu-item, .menu .menu-container .menu-section .menu-item h4,.menu .menu-container .menu-section .menu-item p{
        width:100%;
        justify-content: center;
    }

    /* footer section */
        footer {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            height: 50vh;
            font-size: 2rem;
            text-align: center;
        }
    
        footer nav {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
        }
    
        footer nav .mailing-list {
            width: 100%;
            height: 12vh;
        }
    
        footer nav .mailing-list h4 {
            font-size: 2rem;
            padding: 1%;
        }
    
        footer nav .mailing-list input {
            width: 100%;
            font-size: 1.6rem;
        }
    
        footer nav .mailing-list button {
            width: 100%;
            font-size:1.6rem;
        }
    
        footer nav .btm.btns {
            width: 100%;
            height: 20vh;
            flex-wrap: wrap;
        }
    
        footer nav .btm.btns a {
            height: 5vh;
            width: 100%;
            display: flex;
            justify-content: center;
            font-size: 2.2rem;
        }
    
        .copyright {
            width: 75%;
        }
    
        .copyright p {
            font-size: 1.35rem;
            display: flex;
            justify-content: center;
            align-items: center;
        }
}
